BPiaoBao/BPiaoBao.DomesticTicket.Platforms/Service References/webyeexing/YeeXingSerivce.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ParsePnrMatchAirpContract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="appUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PNR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PNRContent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PatContent" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ParsePnrMatchAirpContractResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ParsePnrMatchAirpContractResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ParsePnrBookContract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="appUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PNR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PNRContent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PatContent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="policyId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PMPrice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="policy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="extReward" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ParsePnrBookContractResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ParsePnrBookContractResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PayOutContract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="appUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="outOrderId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Price" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PayWay" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pay_Notify_url" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ticket_Notify_url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PayOutContractResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PayOutContractResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrderQueryContract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="appUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="outOrderId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrderQueryContractResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrderQueryContractResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryOrderStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="out_orderid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryOrderStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryOrderStatusResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserSign">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="appUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="appPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserSignResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserSignResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserUnsign">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="appUserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserUnsignResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserUnsignResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterNewUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginPwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Drcname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Drcmobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Drcemail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Localcity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Drccompname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Drccompadd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Drccomptel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Drccomppost" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterNewUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterNewUserResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryFlight">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FromCityCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ToCityCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FromDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FromTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CarryCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryFlightResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryFlightResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RefundTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passengerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="airId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="refundType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="refundMemo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="refundSegment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="refund_notify_url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RefundTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RefundTicketResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Change">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="changeMemo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="change_notify_url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passengerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cancel_notify_url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelTicketResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ParsePnrMatchAirpContractSoapIn">
    <wsdl:part name="parameters" element="tns:ParsePnrMatchAirpContract" />
  </wsdl:message>
  <wsdl:message name="ParsePnrMatchAirpContractSoapOut">
    <wsdl:part name="parameters" element="tns:ParsePnrMatchAirpContractResponse" />
  </wsdl:message>
  <wsdl:message name="ParsePnrBookContractSoapIn">
    <wsdl:part name="parameters" element="tns:ParsePnrBookContract" />
  </wsdl:message>
  <wsdl:message name="ParsePnrBookContractSoapOut">
    <wsdl:part name="parameters" element="tns:ParsePnrBookContractResponse" />
  </wsdl:message>
  <wsdl:message name="PayOutContractSoapIn">
    <wsdl:part name="parameters" element="tns:PayOutContract" />
  </wsdl:message>
  <wsdl:message name="PayOutContractSoapOut">
    <wsdl:part name="parameters" element="tns:PayOutContractResponse" />
  </wsdl:message>
  <wsdl:message name="OrderQueryContractSoapIn">
    <wsdl:part name="parameters" element="tns:OrderQueryContract" />
  </wsdl:message>
  <wsdl:message name="OrderQueryContractSoapOut">
    <wsdl:part name="parameters" element="tns:OrderQueryContractResponse" />
  </wsdl:message>
  <wsdl:message name="QueryOrderStatusSoapIn">
    <wsdl:part name="parameters" element="tns:QueryOrderStatus" />
  </wsdl:message>
  <wsdl:message name="QueryOrderStatusSoapOut">
    <wsdl:part name="parameters" element="tns:QueryOrderStatusResponse" />
  </wsdl:message>
  <wsdl:message name="UserSignSoapIn">
    <wsdl:part name="parameters" element="tns:UserSign" />
  </wsdl:message>
  <wsdl:message name="UserSignSoapOut">
    <wsdl:part name="parameters" element="tns:UserSignResponse" />
  </wsdl:message>
  <wsdl:message name="UserUnsignSoapIn">
    <wsdl:part name="parameters" element="tns:UserUnsign" />
  </wsdl:message>
  <wsdl:message name="UserUnsignSoapOut">
    <wsdl:part name="parameters" element="tns:UserUnsignResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterNewUserSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterNewUser" />
  </wsdl:message>
  <wsdl:message name="RegisterNewUserSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="QueryFlightSoapIn">
    <wsdl:part name="parameters" element="tns:QueryFlight" />
  </wsdl:message>
  <wsdl:message name="QueryFlightSoapOut">
    <wsdl:part name="parameters" element="tns:QueryFlightResponse" />
  </wsdl:message>
  <wsdl:message name="RefundTicketSoapIn">
    <wsdl:part name="parameters" element="tns:RefundTicket" />
  </wsdl:message>
  <wsdl:message name="RefundTicketSoapOut">
    <wsdl:part name="parameters" element="tns:RefundTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeSoapIn">
    <wsdl:part name="parameters" element="tns:Change" />
  </wsdl:message>
  <wsdl:message name="ChangeSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeResponse" />
  </wsdl:message>
  <wsdl:message name="CancelTicketSoapIn">
    <wsdl:part name="parameters" element="tns:CancelTicket" />
  </wsdl:message>
  <wsdl:message name="CancelTicketSoapOut">
    <wsdl:part name="parameters" element="tns:CancelTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="YeeXingSerivceSoap">
    <wsdl:operation name="ParsePnrMatchAirpContract">
      <wsdl:input message="tns:ParsePnrMatchAirpContractSoapIn" />
      <wsdl:output message="tns:ParsePnrMatchAirpContractSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ParsePnrBookContract">
      <wsdl:input message="tns:ParsePnrBookContractSoapIn" />
      <wsdl:output message="tns:ParsePnrBookContractSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PayOutContract">
      <wsdl:input message="tns:PayOutContractSoapIn" />
      <wsdl:output message="tns:PayOutContractSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OrderQueryContract">
      <wsdl:input message="tns:OrderQueryContractSoapIn" />
      <wsdl:output message="tns:OrderQueryContractSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryOrderStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;font&gt;订单状态查询&lt;/font&gt;</wsdl:documentation>
      <wsdl:input message="tns:QueryOrderStatusSoapIn" />
      <wsdl:output message="tns:QueryOrderStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserSign">
      <wsdl:input message="tns:UserSignSoapIn" />
      <wsdl:output message="tns:UserSignSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserUnsign">
      <wsdl:input message="tns:UserUnsignSoapIn" />
      <wsdl:output message="tns:UserUnsignSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterNewUser">
      <wsdl:input message="tns:RegisterNewUserSoapIn" />
      <wsdl:output message="tns:RegisterNewUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryFlight">
      <wsdl:input message="tns:QueryFlightSoapIn" />
      <wsdl:output message="tns:QueryFlightSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RefundTicket">
      <wsdl:input message="tns:RefundTicketSoapIn" />
      <wsdl:output message="tns:RefundTicketSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Change">
      <wsdl:input message="tns:ChangeSoapIn" />
      <wsdl:output message="tns:ChangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelTicket">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;font&gt;取消乘客机票&lt;/font&gt;</wsdl:documentation>
      <wsdl:input message="tns:CancelTicketSoapIn" />
      <wsdl:output message="tns:CancelTicketSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="YeeXingSerivceSoap" type="tns:YeeXingSerivceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ParsePnrMatchAirpContract">
      <soap:operation soapAction="http://tempuri.org/ParsePnrMatchAirpContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParsePnrBookContract">
      <soap:operation soapAction="http://tempuri.org/ParsePnrBookContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PayOutContract">
      <soap:operation soapAction="http://tempuri.org/PayOutContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderQueryContract">
      <soap:operation soapAction="http://tempuri.org/OrderQueryContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryOrderStatus">
      <soap:operation soapAction="http://tempuri.org/QueryOrderStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserSign">
      <soap:operation soapAction="http://tempuri.org/UserSign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserUnsign">
      <soap:operation soapAction="http://tempuri.org/UserUnsign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterNewUser">
      <soap:operation soapAction="http://tempuri.org/RegisterNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryFlight">
      <soap:operation soapAction="http://tempuri.org/QueryFlight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefundTicket">
      <soap:operation soapAction="http://tempuri.org/RefundTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Change">
      <soap:operation soapAction="http://tempuri.org/Change" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelTicket">
      <soap:operation soapAction="http://tempuri.org/CancelTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="YeeXingSerivceSoap12" type="tns:YeeXingSerivceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ParsePnrMatchAirpContract">
      <soap12:operation soapAction="http://tempuri.org/ParsePnrMatchAirpContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParsePnrBookContract">
      <soap12:operation soapAction="http://tempuri.org/ParsePnrBookContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PayOutContract">
      <soap12:operation soapAction="http://tempuri.org/PayOutContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderQueryContract">
      <soap12:operation soapAction="http://tempuri.org/OrderQueryContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryOrderStatus">
      <soap12:operation soapAction="http://tempuri.org/QueryOrderStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserSign">
      <soap12:operation soapAction="http://tempuri.org/UserSign" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserUnsign">
      <soap12:operation soapAction="http://tempuri.org/UserUnsign" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterNewUser">
      <soap12:operation soapAction="http://tempuri.org/RegisterNewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryFlight">
      <soap12:operation soapAction="http://tempuri.org/QueryFlight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefundTicket">
      <soap12:operation soapAction="http://tempuri.org/RefundTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Change">
      <soap12:operation soapAction="http://tempuri.org/Change" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelTicket">
      <soap12:operation soapAction="http://tempuri.org/CancelTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="YeeXingSerivce">
    <wsdl:port name="YeeXingSerivceSoap" binding="tns:YeeXingSerivceSoap">
      <soap:address location="http://210.14.138.26:120/YeeXingSerivce.asmx" />
    </wsdl:port>
    <wsdl:port name="YeeXingSerivceSoap12" binding="tns:YeeXingSerivceSoap12">
      <soap12:address location="http://210.14.138.26:120/YeeXingSerivce.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>