BPiaoBao/BPiaoBao.DomesticTicket.Platforms/Service References/webbaituo/BaiTuoWeb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://203.88.210.234:114/BaiTuoWeb.asmx" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://203.88.210.234:114/BaiTuoWeb.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://203.88.210.234:114/BaiTuoWeb.asmx">
      <s:element name="GetAlterDomesticCabinZRateByParam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TripType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TicketType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CoAgentOffice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CoUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CoUserPwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RQStartDateTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAlterDomesticCabinZRateByParamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAlterDomesticCabinZRateByParamResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDomesticMatchNormalZRateList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlMessage">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDomesticMatchNormalZRateListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDomesticMatchNormalZRateListResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDomesticMatchNormalZRateStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDomesticMatchNormalZRateStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDomesticMatchNormalZRateStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvalidationProviderListXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlElement">
              <s:complexType>
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvalidationProviderListXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInvalidationProviderListXMLResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvalidationProviderListSTR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlDoc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvalidationProviderListSTRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInvalidationProviderListSTRResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pnrCreateOrderEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xeMessage">
              <s:complexType>
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pnrCreateOrderExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pnrCreateOrderExResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pnrCreateOrderExStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xeMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pnrCreateOrderExStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pnrCreateOrderExStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getOrderInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AgentCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AgentUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AgentPwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getOrderInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getOrderInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getOrderInfoXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlMessage">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getOrderInfoXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getOrderInfoXmlResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XmlMessage">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyXmlResponse">
        <s:complexType />
      </s:element>
      <s:element name="NotifyStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyStrResponse">
        <s:complexType />
      </s:element>
      <s:element name="ApplyRefundOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApplyRefundOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ApplyRefundOrderResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApplyRefundOrderStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApplyRefundOrderStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ApplyRefundOrderStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUrlData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUrlDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUrlDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAlterDomesticCabinZRateByParamSoapIn">
    <wsdl:part name="parameters" element="tns:GetAlterDomesticCabinZRateByParam" />
  </wsdl:message>
  <wsdl:message name="GetAlterDomesticCabinZRateByParamSoapOut">
    <wsdl:part name="parameters" element="tns:GetAlterDomesticCabinZRateByParamResponse" />
  </wsdl:message>
  <wsdl:message name="GetDomesticMatchNormalZRateListSoapIn">
    <wsdl:part name="parameters" element="tns:GetDomesticMatchNormalZRateList" />
  </wsdl:message>
  <wsdl:message name="GetDomesticMatchNormalZRateListSoapOut">
    <wsdl:part name="parameters" element="tns:GetDomesticMatchNormalZRateListResponse" />
  </wsdl:message>
  <wsdl:message name="GetDomesticMatchNormalZRateStrSoapIn">
    <wsdl:part name="parameters" element="tns:GetDomesticMatchNormalZRateStr" />
  </wsdl:message>
  <wsdl:message name="GetDomesticMatchNormalZRateStrSoapOut">
    <wsdl:part name="parameters" element="tns:GetDomesticMatchNormalZRateStrResponse" />
  </wsdl:message>
  <wsdl:message name="GetInvalidationProviderListXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetInvalidationProviderListXML" />
  </wsdl:message>
  <wsdl:message name="GetInvalidationProviderListXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetInvalidationProviderListXMLResponse" />
  </wsdl:message>
  <wsdl:message name="GetInvalidationProviderListSTRSoapIn">
    <wsdl:part name="parameters" element="tns:GetInvalidationProviderListSTR" />
  </wsdl:message>
  <wsdl:message name="GetInvalidationProviderListSTRSoapOut">
    <wsdl:part name="parameters" element="tns:GetInvalidationProviderListSTRResponse" />
  </wsdl:message>
  <wsdl:message name="pnrCreateOrderExSoapIn">
    <wsdl:part name="parameters" element="tns:pnrCreateOrderEx" />
  </wsdl:message>
  <wsdl:message name="pnrCreateOrderExSoapOut">
    <wsdl:part name="parameters" element="tns:pnrCreateOrderExResponse" />
  </wsdl:message>
  <wsdl:message name="pnrCreateOrderExStrSoapIn">
    <wsdl:part name="parameters" element="tns:pnrCreateOrderExStr" />
  </wsdl:message>
  <wsdl:message name="pnrCreateOrderExStrSoapOut">
    <wsdl:part name="parameters" element="tns:pnrCreateOrderExStrResponse" />
  </wsdl:message>
  <wsdl:message name="getOrderInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getOrderInfo" />
  </wsdl:message>
  <wsdl:message name="getOrderInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getOrderInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getOrderInfoXmlSoapIn">
    <wsdl:part name="parameters" element="tns:getOrderInfoXml" />
  </wsdl:message>
  <wsdl:message name="getOrderInfoXmlSoapOut">
    <wsdl:part name="parameters" element="tns:getOrderInfoXmlResponse" />
  </wsdl:message>
  <wsdl:message name="NotifyXmlSoapIn">
    <wsdl:part name="parameters" element="tns:NotifyXml" />
  </wsdl:message>
  <wsdl:message name="NotifyXmlSoapOut">
    <wsdl:part name="parameters" element="tns:NotifyXmlResponse" />
  </wsdl:message>
  <wsdl:message name="NotifyStrSoapIn">
    <wsdl:part name="parameters" element="tns:NotifyStr" />
  </wsdl:message>
  <wsdl:message name="NotifyStrSoapOut">
    <wsdl:part name="parameters" element="tns:NotifyStrResponse" />
  </wsdl:message>
  <wsdl:message name="ApplyRefundOrderSoapIn">
    <wsdl:part name="parameters" element="tns:ApplyRefundOrder" />
  </wsdl:message>
  <wsdl:message name="ApplyRefundOrderSoapOut">
    <wsdl:part name="parameters" element="tns:ApplyRefundOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ApplyRefundOrderStrSoapIn">
    <wsdl:part name="parameters" element="tns:ApplyRefundOrderStr" />
  </wsdl:message>
  <wsdl:message name="ApplyRefundOrderStrSoapOut">
    <wsdl:part name="parameters" element="tns:ApplyRefundOrderStrResponse" />
  </wsdl:message>
  <wsdl:message name="GetUrlDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetUrlData" />
  </wsdl:message>
  <wsdl:message name="GetUrlDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetUrlDataResponse" />
  </wsdl:message>
  <wsdl:portType name="BaiTuoWebSoap">
    <wsdl:operation name="GetAlterDomesticCabinZRateByParam">
      <wsdl:input message="tns:GetAlterDomesticCabinZRateByParamSoapIn" />
      <wsdl:output message="tns:GetAlterDomesticCabinZRateByParamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDomesticMatchNormalZRateList">
      <wsdl:input message="tns:GetDomesticMatchNormalZRateListSoapIn" />
      <wsdl:output message="tns:GetDomesticMatchNormalZRateListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDomesticMatchNormalZRateStr">
      <wsdl:input message="tns:GetDomesticMatchNormalZRateStrSoapIn" />
      <wsdl:output message="tns:GetDomesticMatchNormalZRateStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInvalidationProviderListXML">
      <wsdl:input message="tns:GetInvalidationProviderListXMLSoapIn" />
      <wsdl:output message="tns:GetInvalidationProviderListXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInvalidationProviderListSTR">
      <wsdl:input message="tns:GetInvalidationProviderListSTRSoapIn" />
      <wsdl:output message="tns:GetInvalidationProviderListSTRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="pnrCreateOrderEx">
      <wsdl:input message="tns:pnrCreateOrderExSoapIn" />
      <wsdl:output message="tns:pnrCreateOrderExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="pnrCreateOrderExStr">
      <wsdl:input message="tns:pnrCreateOrderExStrSoapIn" />
      <wsdl:output message="tns:pnrCreateOrderExStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getOrderInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;font style="color:red;"&gt;百拓订单详情查询&lt;/font&gt;</wsdl:documentation>
      <wsdl:input message="tns:getOrderInfoSoapIn" />
      <wsdl:output message="tns:getOrderInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getOrderInfoXml">
      <wsdl:input message="tns:getOrderInfoXmlSoapIn" />
      <wsdl:output message="tns:getOrderInfoXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifyXml">
      <wsdl:input message="tns:NotifyXmlSoapIn" />
      <wsdl:output message="tns:NotifyXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifyStr">
      <wsdl:input message="tns:NotifyStrSoapIn" />
      <wsdl:output message="tns:NotifyStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ApplyRefundOrder">
      <wsdl:input message="tns:ApplyRefundOrderSoapIn" />
      <wsdl:output message="tns:ApplyRefundOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ApplyRefundOrderStr">
      <wsdl:input message="tns:ApplyRefundOrderStrSoapIn" />
      <wsdl:output message="tns:ApplyRefundOrderStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUrlData">
      <wsdl:input message="tns:GetUrlDataSoapIn" />
      <wsdl:output message="tns:GetUrlDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BaiTuoWebSoap" type="tns:BaiTuoWebSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAlterDomesticCabinZRateByParam">
      <soap:operation soapAction="http://203.88.210.234:114/BaiTuoWeb.asmx/GetAlterDomesticCabinZRateByParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomesticMatchNormalZRateList">
      <soap:operation soapAction="http://203.88.210.234:114/BaiTuoWeb.asmx/GetDomesticMatchNormalZRateList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomesticMatchNormalZRateStr">
      <soap:operation soapAction="http://203.88.210.234:114/BaiTuoWeb.asmx/GetDomesticMatchNormalZRateStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvalidationProviderListXML">
      <soap:operation soapAction="http://203.88.210.234:114/BaiTuoWeb.asmx/GetInvalidationProviderListXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvalidationProviderListSTR">
      <soap:operation soapAction="http://203.88.210.234:114/BaiTuoWeb.asmx/GetInvalidationProviderListSTR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pnrCreateOrderEx">
      <soap:operation soapAction="http://203.88.210.234:114/BaiTuoWeb.asmx/pnrCreateOrderEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pnrCreateOrderExStr">
      <soap:operation soapAction="http://203.88.210.234:114/BaiTuoWeb.asmx/pnrCreateOrderExStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrderInfo">
      <soap:operation soapAction="http://203.88.210.234:114/BaiTuoWeb.asmx/getOrderInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrderInfoXml">
      <soap:operation soapAction="http://203.88.210.234:114/BaiTuoWeb.asmx/getOrderInfoXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyXml">
      <soap:operation soapAction="http://203.88.210.234:114/BaiTuoWeb.asmx/NotifyXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyStr">
      <soap:operation soapAction="http://203.88.210.234:114/BaiTuoWeb.asmx/NotifyStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyRefundOrder">
      <soap:operation soapAction="http://203.88.210.234:114/BaiTuoWeb.asmx/ApplyRefundOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyRefundOrderStr">
      <soap:operation soapAction="http://203.88.210.234:114/BaiTuoWeb.asmx/ApplyRefundOrderStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUrlData">
      <soap:operation soapAction="http://203.88.210.234:114/BaiTuoWeb.asmx/GetUrlData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BaiTuoWebSoap12" type="tns:BaiTuoWebSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAlterDomesticCabinZRateByParam">
      <soap12:operation soapAction="http://203.88.210.234:114/BaiTuoWeb.asmx/GetAlterDomesticCabinZRateByParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomesticMatchNormalZRateList">
      <soap12:operation soapAction="http://203.88.210.234:114/BaiTuoWeb.asmx/GetDomesticMatchNormalZRateList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomesticMatchNormalZRateStr">
      <soap12:operation soapAction="http://203.88.210.234:114/BaiTuoWeb.asmx/GetDomesticMatchNormalZRateStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvalidationProviderListXML">
      <soap12:operation soapAction="http://203.88.210.234:114/BaiTuoWeb.asmx/GetInvalidationProviderListXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvalidationProviderListSTR">
      <soap12:operation soapAction="http://203.88.210.234:114/BaiTuoWeb.asmx/GetInvalidationProviderListSTR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pnrCreateOrderEx">
      <soap12:operation soapAction="http://203.88.210.234:114/BaiTuoWeb.asmx/pnrCreateOrderEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pnrCreateOrderExStr">
      <soap12:operation soapAction="http://203.88.210.234:114/BaiTuoWeb.asmx/pnrCreateOrderExStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrderInfo">
      <soap12:operation soapAction="http://203.88.210.234:114/BaiTuoWeb.asmx/getOrderInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrderInfoXml">
      <soap12:operation soapAction="http://203.88.210.234:114/BaiTuoWeb.asmx/getOrderInfoXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyXml">
      <soap12:operation soapAction="http://203.88.210.234:114/BaiTuoWeb.asmx/NotifyXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyStr">
      <soap12:operation soapAction="http://203.88.210.234:114/BaiTuoWeb.asmx/NotifyStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyRefundOrder">
      <soap12:operation soapAction="http://203.88.210.234:114/BaiTuoWeb.asmx/ApplyRefundOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyRefundOrderStr">
      <soap12:operation soapAction="http://203.88.210.234:114/BaiTuoWeb.asmx/ApplyRefundOrderStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUrlData">
      <soap12:operation soapAction="http://203.88.210.234:114/BaiTuoWeb.asmx/GetUrlData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BaiTuoWeb">
    <wsdl:port name="BaiTuoWebSoap" binding="tns:BaiTuoWebSoap">
      <soap:address location="http://210.14.138.26:114/BaiTuoWeb.asmx" />
    </wsdl:port>
    <wsdl:port name="BaiTuoWebSoap12" binding="tns:BaiTuoWebSoap12">
      <soap12:address location="http://210.14.138.26:114/BaiTuoWeb.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>