BPiaoBao/BPiaoBao.DomesticTicket.Domain/Service References/IBEService/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://210.14.138.30/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://210.14.138.30/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://210.14.138.30/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getIBEAVData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FromCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ToCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FlightDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FlightTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getIBEAVDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getIBEAVDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getIBEFDData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FromCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ToCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FlightDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FlightTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getIBEFDDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getIBEFDDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getIBEFDDataTest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FromCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ToCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FlightDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FlightTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getIBEFDDataTestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getIBEFDDataTestResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="getIBEAVDataSoapIn">
    <wsdl:part name="parameters" element="tns:getIBEAVData" />
  </wsdl:message>
  <wsdl:message name="getIBEAVDataSoapOut">
    <wsdl:part name="parameters" element="tns:getIBEAVDataResponse" />
  </wsdl:message>
  <wsdl:message name="getIBEFDDataSoapIn">
    <wsdl:part name="parameters" element="tns:getIBEFDData" />
  </wsdl:message>
  <wsdl:message name="getIBEFDDataSoapOut">
    <wsdl:part name="parameters" element="tns:getIBEFDDataResponse" />
  </wsdl:message>
  <wsdl:message name="getIBEFDDataTestSoapIn">
    <wsdl:part name="parameters" element="tns:getIBEFDDataTest" />
  </wsdl:message>
  <wsdl:message name="getIBEFDDataTestSoapOut">
    <wsdl:part name="parameters" element="tns:getIBEFDDataTestResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getIBEAVData">
      <wsdl:input message="tns:getIBEAVDataSoapIn" />
      <wsdl:output message="tns:getIBEAVDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getIBEFDData">
      <wsdl:input message="tns:getIBEFDDataSoapIn" />
      <wsdl:output message="tns:getIBEFDDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getIBEFDDataTest">
      <wsdl:input message="tns:getIBEFDDataTestSoapIn" />
      <wsdl:output message="tns:getIBEFDDataTestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://210.14.138.30/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIBEAVData">
      <soap:operation soapAction="http://210.14.138.30/getIBEAVData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIBEFDData">
      <soap:operation soapAction="http://210.14.138.30/getIBEFDData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIBEFDDataTest">
      <soap:operation soapAction="http://210.14.138.30/getIBEFDDataTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://210.14.138.30/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIBEAVData">
      <soap12:operation soapAction="http://210.14.138.30/getIBEAVData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIBEFDData">
      <soap12:operation soapAction="http://210.14.138.30/getIBEFDData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIBEFDDataTest">
      <soap12:operation soapAction="http://210.14.138.30/getIBEFDDataTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://210.14.138.30:4032/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://210.14.138.30:4032/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>